/**
* @page Knowledge
* @section Knowledge Content
*/
#knowledge-content {
	min-height: 40vh;
	@media screen and (display-mode: fullscreen) {
		.content {
			padding: 1vh 0;
			width: 50vw;
			margin: 0 auto;
		}
	}
}
#knowledge-directory {
	#list-tree {
		margin: 0;
		padding: 0;

		.caret {
			cursor: pointer;
			-webkit-user-select: none; /* Safari 3.1+ */
			-moz-user-select: none; /* Firefox 2+ */
			-ms-user-select: none; /* IE 10+ */
			user-select: none;
		}
		.caret::before {
			content: '\25B6';
			color: black;
			display: inline-block;
			margin-right: 6px;
		}
		.caret-down::before {
			transform: rotate(90deg);
		}

		$border-color: rgb(107 114 128);
		ul,
		li {
			list-style: none;
		}
		ul {
			padding-left: 1em;
		}
		li {
			padding-left: 1em;
			border: 1px dotted $border-color;
			border-width: 0 0 1px 1px;
		}

		li.container {
			border-bottom: 0px;
		}
		li.empty {
			font-style: italic;
			color: silver;
			border-color: silver;
		}
		li p {
			margin: 0;
			background: white;
			position: relative;
			top: 0.5em;
		}
		li ul {
			border-top: 1px dotted $border-color;
			margin-left: -1em;
			padding-left: 2em;
		}
		ul li:last-child ul {
			border-left: 1px solid white;
			margin-left: -17px;
		}
	}
}
