# IDEs
/.idea
/.vscode

# Data
/data
/static/vaults/*
/vaults/*
!/vaults/vaults-sample.json

# Vendords
/vendors
/node_modules

# Builds
nodes.json
edges.json
/build
/assets/css/tailwind/style.css
/assets/css/tailwind/style.css.map
/static/css/style.min.css
/static/css/tailwind.min.css
/static/contributor/list.json
/static/plugin/list.json
/static/theme/list.json
/static/**/*.css.map
/static/**/*.js.map
playlist.md

# Svelte
.DS_Store
/.svelte-kit
/package
.env
.env.*
.development
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
